<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233541636065-qhk8oimc28h6n101pcat6a5ckv6rv8q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233541636065-qhk8oimc28h6n101pcat6a5ckv6rv8q0</string>
	<key>API_KEY</key>
	<string>AIzaSyCHOOaoUC9anhxraT33L6kerb3vfb-LHyM</string>
	<key>GCM_SENDER_ID</key>
	<string>233541636065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joke.tiller</string>
	<key>PROJECT_ID</key>
	<string>joker-tiler</string>
	<key>STORAGE_BUCKET</key>
	<string>joker-tiler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233541636065:ios:5189fe6b1d8c4799d84ca0</string>
	<key>DATABASE_URL</key>
	<string>https://joker-tiler.firebaseio.com</string>
</dict>
</plist>